/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.earth-post-card {
  /* background-color:…#eeeeee; */
}

.post-head-card {
  border-width: 2px;
  border-color: #777777;
}

/* .post-reply-card {
} */

.gap-space {
  width: 1px;
  height: 20px;
}

.error-highlight {
  border: 1px solid red;
}